<mat-toolbar color="accent" class="justify-between">
  <div class="flex items-center">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    ></button>
    <span>Gamehub</span>
  </div>
  <div class="flex items-center">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      (click)="lightThemeToggle()"
    >
      <mat-icon>{{ themeIcon }}</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      (click)="openSideNavToggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
