<mat-card class="example-card">
  <mat-card-header class="!p-0">
    <mat-toolbar
      [color]="playerTurn === 'X' ? 'primary' : 'accent'"
      class="justify-between items-center"
    >
      <div>Tic-tac-toe</div>
      <div>
        <mat-icon class="cursor-pointer" (click)="close.emit(true)"
          >close</mat-icon
        >
      </div>
    </mat-toolbar>
  </mat-card-header>
  <mat-card-content>
    <div class="flex flex-row justify-between py-4">
      <div class="ml-5">
        <span class="primary-bg px-2 mr-1"></span>
        <span class="fond-bold mr-1">Player-O:</span>
        <span>{{ playerOScore }}</span>
      </div>
      <div class="mr-5">
        <span class="accent-bg px-2 mr-1"></span>
        <span class="fond-bold mr-1">Player-X:</span>
        <span>{{ playerXScore }}</span>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="text-center py-2 font-extrabold">
      <ng-container *ngIf="winner === ''">
        <span
          class="px-2 mr-1"
          [ngClass]="playerTurn === 'O' ? 'primary-bg' : 'accent-bg'"
        ></span>
        Player {{ playerTurn }} Turn!!!
      </ng-container>
      <ng-container *ngIf="winner !== ''">
        {{ winner }}
      </ng-container>
    </div>
    <div class="grid grid-cols-3 px-12 py-2">
      <ng-container *ngFor="let square of squares">
        <div class="w-full hover:border border-black p-1 rounded-lg">
          <button
            mat-raised-button
            [color]="playerTurn === 'X' ? 'primary' : 'accent'"
            (click)="placeValue(square)"
            class="!h-20 w-full"
            [disabled]="winner !== ''"
          >
            <span class="font-bold text-3xl">
              {{ square.value }}
            </span>
          </button>
        </div>
      </ng-container>
    </div>
  </mat-card-content>
  <mat-card-actions class="!justify-end">
    <button
      mat-raised-button
      [color]="playerTurn === 'X' ? 'primary' : 'accent'"
      (click)="resetGame()"
      [disabled]="disableResetButton"
    >
      Reset
    </button>
  </mat-card-actions>
</mat-card>
