<app-navigation
  (lightTheme)="lightTheme = $event"
  (openSideNav)="opened = $event"
></app-navigation>
<mat-sidenav-container
  [ngClass]="{ 'theme-alternate': lightTheme }"
  class="h-full overflow-y-hidden"
>
  <mat-sidenav
    #sidenav
    mode="push"
    color="accent"
    [(opened)]="opened"
    position="end"
    autoFocus="false"
  >
    Sidenav content
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="flex flex-wrap p-5">
      <div class="w-1/5"></div>
      <div class="w-3/5 flex justify-center">
        <!-- <app-tictac class="w-4/6"></app-tictac> -->
        <!-- <app-memory-game class="w-5/6"></app-memory-game> -->
        <app-typing-game class="w-5/6"></app-typing-game>
      </div>
      <div class="w-1/5"></div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
