<app-navigation
  (lightTheme)="lightTheme = $event"
  (openSideNav)="opened = $event"
></app-navigation>
<mat-sidenav-container
  [ngClass]="{ 'theme-alternate': lightTheme }"
  class="main-container overflow-y-hidden"
>
  <mat-sidenav
    #sidenav
    mode="push"
    color="accent"
    [(opened)]="opened"
    position="end"
    autoFocus="false"
  >
    <div class="flex flex-col py-5 font-extrabold">Coming Soon...</div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div
      class="flex flex-wrap p-5"
      [ngClass]="
        lightTheme === false ? 'background-image' : 'background-image-alt'
      "
    >
      <div class="w-1/5 flex flex-col items-center">
        <span class="font-bold text-2xl pb-2">Game List</span>
        <mat-chip-listbox
          class="mat-mdc-chip-set-stacked"
          aria-label="Color selection"
        >
          <mat-chip-option
            *ngFor="let game of gameList"
            class="!my-2"
            color="primary"
            (click)="selectGame(game.name)"
            [ngClass]="{ 'primary-bg': gameSelected !== game.name }"
            [selected]="gameSelected === game.name"
          >
            <div class="flex items-center">
              <mat-icon class="mr-5">{{ game.icon }}</mat-icon>
              {{ game.name }}
            </div>
          </mat-chip-option>
        </mat-chip-listbox>
      </div>
      <div class="w-3/5 flex justify-center pt-5">
        <app-tictac
          *ngIf="gameSelected === 'tic-tac-toe'"
          class="w-4/6"
          (close)="closeGame($event)"
        ></app-tictac>
        <app-memory-game
          *ngIf="gameSelected === 'memory-game'"
          class="w-5/6"
          (close)="closeGame($event)"
        ></app-memory-game>
        <app-typing-game
          *ngIf="gameSelected === 'typing-game'"
          class="w-5/6"
          (close)="closeGame($event)"
        ></app-typing-game>
        <app-stop-game
          *ngIf="gameSelected === 'stop-game'"
          class="w-5/6"
          (close)="closeGame($event)"
        ></app-stop-game>
        <app-shooting-game
          *ngIf="gameSelected === 'shooting-game'"
          class="w-5/6"
          (close)="closeGame($event)"
        ></app-shooting-game>
      </div>
      <div class="w-1/5"></div>
    </div>
    <footer class="absolute bottom-0 w-full text-white py-4">
      <div class="container mx-auto flex justify-center items-center space-x-6">
        <div class="text-sm">&copy; Garbage Ninja. All rights reserved.</div>
        <i class="fa fa-github !text-2xl"></i>
        <i class="fa fa-twitter !text-2xl"></i>
        <i class="fa fa-facebook !text-2xl"></i>
      </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
